@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Montserrat;
  font-weight: normal;
  src: url("/font/Montserrat-Regular.ttf") format("opentype");
}

@font-face {
  font-family: Montserrat;
  font-weight: bold;
  src: url("/font/Montserrat-Bold.ttf") format("opentype");
}

@font-face {
  font-family: OpenSans;
  font-weight: normal;
  src: url("/font/OpenSans-Regular.ttf") format("opentype");
}

@font-face {
  font-family: OpenSans;
  font-weight: bold;
  src: url("/font/OpenSans-Bold.ttf") format("opentype");
}

body {
  font-family: OpenSans, system-ui, -apple-system,
    /* Firefox supports this but not yet `system-ui` */ "Segoe UI", Roboto,
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: white;
  background-color: #000041;
}

@media (max-width: 768px) {
  body {
    font-size: 16px;
  }
}

h1,
h2,
h3 {
  font-family: "Montserrat", Helvetica, Arial, sans-serif;
  color: white;
  font-weight: bold;
}

/* Mobile Phones */
h1 {
  font-size: 48px;
  line-height: 52px;
}

h2 {
  font-size: 32px;
  line-height: 38px;
}

h3 {
  font-size: 26px;
  line-height: 30px;
}

.dark-bg {
  background-color: #131313;
  color: #f4f4f4;
  opacity: 0.75;
}

/* Big Screen  desktops */
@media (min-width: 768px) {
  h1 {
    font-size: 90px;
    line-height: 100px;
  }

  h2 {
    font-size: 48px;
    line-height: 52px;
  }

  h3 {
    font-size: 32px;
    line-height: 40px;
  }
}

/**
Buttons
*/

button {
  width: 100%;
}

.primary-btn {
  border-radius: 30px;
  height: 48px;
  padding: 5px 15px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #131313;
  font-weight: bold;
  background: rgb(0, 103, 217);
}

.secondary-btn,
.button-transparent {
  border-radius: 30px;
  border: 1px solid #0cf574;
  color: #0cf574;
  height: 48px;
  padding: 0 30px;
  font-weight: 700;
  background: none;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.secondary-btn:hover {
  border: 1px solid white;
  color: white;
}

.button-trans-gray {
  border-radius: 30px;
  padding: 0.7rem 1.5rem !important;
  color: white;
  font-weight: bold;
  background: none;
  border: 1px solid gray;
}

@media (min-width: 768px) {
  button {
    width: auto;
  }
}

.container {
  padding-left: 1rem;
  padding-right: 1rem;
}
.overflow-x-auto::-webkit-scrollbar {
  display: none;
}
.boxShadow {
  box-shadow: 0 1px 3px rgb(0 0 0 / 18%);
}

.secondary-color {
  color: #0067d9;
}

.brand-color {
  background: #000041;
}

.button-trans-gray {
  background-color: none;
  border: 1px solid gray !important;
  color: white;
}

button:focus,
select:focus {
  outline: none;
}

.sub-title {
  font-weight: bold;
  font-size: 20px;
  color: #0cf574;
}

.box-shadow {
  box-shadow: 1px 0px 5px 0px #0067d9;
}

.sticky {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 0px 5px 0px #fff;
  z-index: 300;
}

.footer ul li a {
  font-size: 16px;
}
